@charset "utf-8";
*{
	padding:0;
	margin:0;
	}
html, body{
	width:100%;
	height:100%;
	font-family:Verdana;
	}
#precio{
	width:80%;
	height:85%;
	float:left;
	margin-left:10%;
	margin-top:5%;
	background:gainsboro;
	border-radius:10px;
	}
#precio img{
	width:3%;
	float:left;
	margin-top:2%;
	margin-left:2%;
	}
#precio h1{
	margin-left:6%;
	margin-top:2%;
	}
.solicitar{
	height:65%;
	}
.viajes{
	width:25%;
	height:55%;
	margin-left:6.25%;
	margin-top:6%;
	float:left;
	color:white;
	background:LightSeaGreen;
	border-radius:10px;
	display:none;
	}
.viajes h1{
	text-align:center;
	font-family:Consolas;
	font-size:30px;
	}
.viajes p{
	margin-left:5%;
	margin-top:5%;
	margin-bottom:5%;
}
.viajes li{
	margin-left:5%;
	}
.viajes .mas{
	width:10%;
	margin-left:45%;
	padding:1%;
	}
.viajes .mas:hover{
	cursor:pointer;
	background:salmon;
	color:white;
	}
.viajes .mas:active{
	background:white;
	color:black;
}
.viajes button{
	text-align:center;
	width:30%;
	margin-left:35%;
	border-radius:5px;
	padding:1%;
	background:white;
	border:none;
	font-size:20px;
	margin-top:5%;
	}
.viajes button:hover{
	cursor:pointer;
	background:salmon;
	color:white;
	}
.viajes button:active{
	background:white;
	color:black;
}